@import "tailwindcss";

/* Light Mode */
body {
  background-color: white;
  color: black;
}

/* Dark Mode */
body.dark {
  background-color: #000000;
  color: white;
}


 /* Custom Scrollbar for WebKit Browsers */
 .custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b0f6ff;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #caffd3;
}